span#username {
  color: #fffb00;
}

#loading {
  position: fixed;
}

h2#comp-percent {
  margin-left: 15px;
  margin-bottom: 30px;
}

section#requirements {
  background-image: linear-gradient(black, #444);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: auto;
}

a {
  width: auto;
}

section.requirement {
  text-align: center;

  li {
    list-style-type: none;
  }

  margin: 50px 5vw;

  &:first-child {
    margin-left: 5vw;
  }

  &:last-child {
    margin-right: 5vw;
  }
}

#completionist-requirements {
  display: grid;
  min-height: 90vh;
  max-height: 90vh;
  grid-template-rows: 16% 84%;
  #info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

article.requirement {
  display: flex;
  justify-content: center;
  background-color: #222;
  padding: 15px;
  margin-bottom: 15px;
  height: 10vh;

  &:first-child {
    margin-top: 15px;
  }

  &.completed {
    opacity: 50%;
  }

  a {
    height: auto;
    width: auto;
    margin: auto;
  }

  h3 {
    margin: auto;
  }
}

a.eligible,
h3.eligible {
  color: #50ff50;
  text-shadow: 1px 1px 10px #50ff50;
}
