span#username {
  color: #fffb00;
}

#loading {
  position: fixed;
}

h2#comp-percent {
  margin-left: 15px;
  margin-bottom: 30px;
}

a {
  width: auto;
}

#completionist-requirements {
  $requirement-height: 100vh;
  display: grid;
  min-height: $requirement-height;
  max-height: $requirement-height;
  grid-template-rows: 15vh 85vh;
  overflow: hidden;
  #info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

section#requirements {
  background-image: linear-gradient(black, #444);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-y: auto;
  max-height: 70vh;
}

section.requirement {
  text-align: center;

  ul {
    display: flex;
    flex-direction: column;
  }

  li {
    list-style-type: none;
    order: 0;

    &.completed {
      order: 1;
    }
  }

  margin: 50px 5vw 0 5vw;

  &:first-child {
    margin-left: 5vw;
  }

  &:last-child {
    margin-right: 5vw;
  }
}
