nav.header-nav {
  height: 0px;
  max-height: 10vh;
  text-align: center;
}

form.search-form {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90vw;

  > input {
    height: 5vh;
    font-size: 150%;
  }

  input[type='button'] {
    margin-left: 5px;
    border: none;
    width: 10vw;
  }
}

@media screen and (max-width: 450px) {
  form.search-form {
    margin: 0;
    flex-direction: column;
    width: 95vw;
    flex-wrap: wrap;
    margin: 2.5vw;

    input,
    input[type='button'] {
      margin-left: 0;
      width: auto;
    }
  }
}
